svg {
    background-color: #333;
}

text {
    font: 11px Helvetica, sans-serif;
    pointer-events: none;
}

rect.nodebox {
}

.type_object {
    fill: #D1DDF2;
}

.type_function {
    fill: #F8ADFF;
}

.type_string {
    fill: #C3FFC5;
}

.type_number {
    fill: #5CA1ED;
}

.type_boolean {
    fill: #FFA39B;
}

.type_null {
    fill: #808080;
}

.type_undefined {
    fill: #aaa;
}

.type_error {
    fill: #FF0000;
}

.propbox rect {
    fill: #EADCD0;
    cursor: pointer;
}

.typebox {
    stroke: #999;
    stroke-width: 1px;

}

.typetext {
    font-family: monospace;
    font-size: 8px;
    font-weight: bold;
}

.propbox.active rect {
    fill: #FFAF44;
}

.propbox text {
    fill: #555;
}

.propbox.active text {
    fill: #111;
}


.proplink {
    fill: none;
    stroke: #FFAF44;
    stroke-width: 1px;
    stroke-dasharray: 1, 1;
}


#marker_start, #marker_end {
    fill: #FFAF44;
}

.title1 {
    font-weight: bold;
}

.title2 {
}

.title1 tspan {
    fill: red;
    font-weight: bold
}

.icon_close {
    fill: #888;
}

.icon_pin {
    fill: #888;
}

.fixed .icon_pin {
    fill: white;
}

.button {
    cursor: pointer;
    fill: red;
    opacity: 0;
}
